footer {
  padding: 30px 30px !important;
  background-color: #555555;
  color: #fff;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (max-width: 790px) {
    padding: 40px 60px;
    .top{
      gap: 40px !important;
    }
  }
  @media (max-width: 605px) {
    padding: 40px 40px;
  }

  .top {
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff80;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: center;
    @media (max-width: 605px) {
      gap: 50px;
    }
    @media (max-width: 460px) {
      flex-direction: column;
      align-items: center;
    }

    .part {
      display: flex;
      flex-direction: column;
      gap: 15px;
      span {
        color: #ffffff80;
        padding: 2px;
      }
    }

    .leftSection,
    .right-section {
      flex: 1;
      text-align: left;
    }

    .leftSection {
      margin-right: 0;
    }

    .image {
      width: 100%;
      max-width: 250px;
      border-radius: 6px;
    }

    .paragraph {
      text-align: left;
      margin-top: 30px;
      font-size: 1rem;
      color: #bcbcbc;
    }
  }

  .bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    @media (max-width: 620px) {
      flex-direction: column;
    }

    .right {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 14px;
    }

    p {
      font-size: 14px;
    }

    img {
      width: 25px;
    }
  }

  #heart {
    transform: translateY(-7px);
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    img {
      width: 15px;
      height: 15px;
    }
  }
}
