header {
  .navbar {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
  }
  .offcanvas {
    @media (max-width:470px) {
      width: 295px !important; 
    }
    background-color: rgba(64, 64, 64, 0.9) !important;
  }

  #esn-main-logo {
    width: 130px;
    height: 75px;
  }
  .nav-link {
    font-size: 14px;
    @media (max-width: 992px) {
      color: #fff;
    }
  }
}
