
.contact-container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
}

.main-content {
  display: flex;
  flex-wrap: nowrap;
  gap: 70px;
}

.left-column {
  padding-top: 55px;
  flex: 1;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px; 
  width: auto;  
}

.left-column .section {
  width: 100%; 
  background-color: #b1b1b1;
  color: #fff;
  padding: 10px;   
  border-radius: 8px;
  font-size: 0.8rem; 
}


.left-column .section h3 {
  font-size: 1rem; 
  margin: 0 0 5px 0;
}

.left-column .section p,
.left-column .section a {
  font-size: 0.8rem;
}

.section-link {
  color: orange;
  text-decoration: none;
  font-size: 0.9rem; 
}

.section-link:hover {
  text-decoration: underline;
}

.email-link {
  color: #4da8da;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
}

.email-link:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 5px; 
}

.icon {
  font-size: 20px;
  color: white;
  transition: transform 0.2s ease-in-out;
}

.icon:hover {
  transform: scale(1.1);
}

.facebook:hover {
  color: #1877f2;
}

.twitter:hover {
  color: #1da1f2;
}

.youtube:hover {
  color: #ff0000;
}

.instagram:hover {
  color: #c13584;
}

.linkedin:hover {
  color: #0077b5;
}

.right-column {
  flex: 1;
  min-width: 400px;
}

.map-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.map {
  width: 100%;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .contact-container {
    margin: 30px auto;
    padding: 15px;
  }
  
  .main-content {
    gap: 40px;
  }
  
  .left-column {
    max-width: 180px;
    padding-top: 40px;
  }
  
  .left-column .section {
    font-size: 0.75rem;
    padding: 8px;
  }
  
  .left-column .section h3 {
    font-size: 0.9rem;
  }
  
  .section-link,
  .email-link {
    font-size: 0.85rem;
  }
  
  .icon {
    font-size: 18px;
  }
}


@media (max-width: 730px) {
  .contact-container {
    margin: 20px auto;
    padding: 10px;
  }
  
  .main-content {
    flex-direction: column;
    gap: 20px;
  }
  
  .left-column {
    max-width: 100%;
    padding-top: 20px;
    align-items: center;
  }
  
  .right-column {
    min-width: 100%;
  }
  
  .left-column .section {
    font-size: 0.7rem;
    padding: 8px;
    width: 90%;
  }
  
  .left-column .section h3 {
    font-size: 0.9rem;
  }
  
  .section-link,
  .email-link {
    font-size: 0.8rem;
  }
  
  .icon {
    font-size: 18px;
  }
}


@media (min-width: 1200px) {
  .contact-container {
    max-width: 1200px;
  }
  
  .left-column .section {
    font-size: 0.85rem;
    padding: 12px;
  }
  
  .left-column .section h3 {
    font-size: 1.1rem;
  }
  
  .section-link,
  .email-link {
    font-size: 1rem;
  }
  
  .icon {
    font-size: 22px;
  }
}
