.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.first-image {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.3;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center; 
}

.centered-image {
  width: 80%; 
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
