* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s all;
}

header {
  margin-bottom: 100px;
}
header .navbar {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
header .offcanvas {
  background-color: rgba(64, 64, 64, 0.9) !important;
}
@media (max-width: 470px) {
  header .offcanvas {
    width: 295px !important;
  }
}
header #esn-main-logo {
  width: 130px;
  height: 75px;
}
header .nav-link {
  font-size: 14px;
}
@media (max-width: 992px) {
  header .nav-link {
    color: #fff;
  }
}

footer {
  padding: 30px 120px;
  background-color: #555555;
  color: #fff;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 690px) {
  footer {
    padding: 40px 60px;
  }
}
@media (max-width: 605px) {
  footer {
    padding: 40px 40px;
  }
}
footer .top {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5019607843);
  width: 100%;
  display: flex;
  gap: 100px;
  justify-content: center;
}
@media (max-width: 605px) {
  footer .top {
    gap: 50px;
  }
}
@media (max-width: 460px) {
  footer .top {
    flex-direction: column;
    align-items: center;
  }
}
footer .top .part {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .top .part span {
  color: rgba(255, 255, 255, 0.5019607843);
  padding: 2px;
}
footer .bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}
@media (max-width: 620px) {
  footer .bottom {
    flex-direction: column;
  }
}
footer .bottom .right {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}
footer .bottom p {
  font-size: 14px;
}
footer .bottom img {
  width: 25px;
}
footer #heart {
  transform: translateY(-7px);
}
footer .left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
footer .left img {
  width: 15px;
  height: 15px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .carousel {
  width: 85%;
}
@media (max-width: 1094px) {
  .hero .carousel {
    width: 100% !important;
  }
}
.hero .carousel .carousel-content {
  margin: 20px 80px;
  border-radius: 10px;
  height: 47vh;
  background-color: #f57b20;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .hero .carousel .carousel-content {
    height: 75vh;
  }
}
@media (max-width: 630px) {
  .hero .carousel .carousel-content {
    height: 68vh;
  }
}
@media (max-width: 768px) {
  .hero .carousel .carousel-content {
    flex-direction: column;
    text-align: center;
  }
}
.hero .carousel .carousel-image {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 80%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .hero .carousel .carousel-image {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
}
@media (max-width: 530px) {
  .hero .carousel .carousel-image {
    -o-object-fit: fill;
       object-fit: fill;
  }
}
@media (max-width: 1094px) {
  .hero .carousel .carousel-image {
    width: 75%;
  }
}
@media (max-width: 560px) {
  .hero .carousel .carousel-image {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .hero .carousel .carousel-image {
    width: 100%;
  }
}
.hero .carousel .carousel-text {
  width: 50%;
  height: 100%;
  display: flex;
  padding: 20px;
}
@media (max-width: 1094px) {
  .hero .carousel .carousel-text {
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .hero .carousel .carousel-text {
    padding: 28px;
  }
}
@media (max-width: 560px) {
  .hero .carousel .carousel-text {
    padding: 10px;
    padding-top: 35px;
  }
}
@media (max-width: 481px) {
  .hero .carousel .carousel-text {
    padding: 5px;
    padding-top: 25px;
  }
}
.hero .carousel .carousel-text * {
  color: white;
}
.hero .carousel .carousel-text h5 {
  font-size: 24px;
  font-weight: bold;
}
.hero .carousel .carousel-text p {
  font-size: 31px;
  font-weight: 800;
  width: 85%;
  line-height: 35px;
}
@media (max-width: 1179px) {
  .hero .carousel .carousel-text p {
    font-size: 27px;
  }
}
@media (max-width: 1141px) {
  .hero .carousel .carousel-text p {
    font-size: 24px;
    line-height: 30px;
  }
}
@media (max-width: 1113px) {
  .hero .carousel .carousel-text p {
    font-size: 22px;
    width: 100%;
  }
}
@media (max-width: 1094px) {
  .hero .carousel .carousel-text p {
    font-size: 20px;
  }
}
@media (max-width: 1051px) {
  .hero .carousel .carousel-text p {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .hero .carousel .carousel-text p {
    font-size: 27px;
    line-height: 35px;
  }
}
@media (max-width: 560px) {
  .hero .carousel .carousel-text p {
    font-size: 24px;
    line-height: 35px;
  }
}
@media (max-width: 481px) {
  .hero .carousel .carousel-text p {
    font-size: 22px;
  }
}
@media (max-width: 446px) {
  .hero .carousel .carousel-text p {
    font-size: 20px;
  }
}
@media (max-width: 410px) {
  .hero .carousel .carousel-text p {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .hero .carousel .carousel-text {
    width: 100%;
  }
}
.hero .carousel .carousel-indicators {
  margin-top: 10px;
}
.hero .carousel .carousel-indicators button {
  width: 11px;
  height: 11px;
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */