* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s all;
}

header {
  margin-bottom: 90px;
}
header .navbar {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
header .offcanvas {
  background-color: rgba(64, 64, 64, 0.9) !important;
}
@media (max-width: 470px) {
  header .offcanvas {
    width: 295px !important;
  }
}
header #esn-main-logo {
  width: 130px;
  height: 75px;
}
header .nav-link {
  font-weight: 550;
  font-size: 14px;
  color: #aaa;
}
@media (max-width: 1094px) {
  header .nav-link {
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  header .nav-link {
    color: #fff;
  }
}
header .nav-link #chevron {
  font-size: 18px !important;
  margin-bottom: 4px;
}
@media (max-width: 1053px) {
  header .nav-link #chevron {
    font-size: 13px !important;
  }
}

.nav-item {
  position: relative;
}
.nav-item .nav-link:hover {
  color: #7dbb49;
}
.nav-item #chevron {
  transition: transform 0.3s ease;
}
.nav-item:hover #chevron {
  transform: rotate(180deg);
}
.nav-item .dropdown-menu {
  border: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 10px 0;
  min-width: 200px;
  display: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.nav-item .dropdown-menu .drop-link {
  text-decoration: none;
  color: #043f10;
  font-size: 12px;
  padding: 0 !important;
  margin: 0 !important;
  font-weight: 700;
}
.nav-item .dropdown-menu li {
  padding: 8px 13px;
}
.nav-item .dropdown-menu li:hover {
  background: rgba(122, 113, 113, 0.526);
}
.nav-item:hover .dropdown-menu {
  display: block;
}

footer {
  padding: 30px 120px;
  background-color: #555555;
  color: #fff;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 690px) {
  footer {
    padding: 40px 60px;
  }
}
@media (max-width: 605px) {
  footer {
    padding: 40px 40px;
  }
}
footer .top {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5019607843);
  width: 100%;
  display: flex;
  gap: 100px;
  justify-content: center;
}
@media (max-width: 605px) {
  footer .top {
    gap: 50px;
  }
}
@media (max-width: 460px) {
  footer .top {
    flex-direction: column;
    align-items: center;
  }
}
footer .top .part {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .top .part span {
  color: rgba(255, 255, 255, 0.5019607843);
  padding: 2px;
}
footer .bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}
@media (max-width: 620px) {
  footer .bottom {
    flex-direction: column;
  }
}
footer .bottom .right {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}
footer .bottom p {
  font-size: 14px;
}
footer .bottom img {
  width: 25px;
}
footer #heart {
  transform: translateY(-7px);
}
footer .left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
footer .left img {
  width: 15px;
  height: 15px;
}

.about-page {
  background-image: url("../images/bg-image.jpg");
}
.about-page .hero {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-page .hero .carousel {
  width: 90%;
}
@media (max-width: 1094px) {
  .about-page .hero .carousel {
    width: 100%;
  }
}
.about-page .hero .carousel .carousel-content {
  margin: 20px 80px;
  border-radius: 10px;
  height: 47vh;
  background-color: #f57b20;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 520px) {
  .about-page .hero .carousel .carousel-content {
    width: 400px !important;
    margin: 20px auto;
  }
}
@media (max-width: 495px) {
  .about-page .hero .carousel .carousel-content {
    width: 350px !important;
  }
}
@media (max-width: 390px) {
  .about-page .hero .carousel .carousel-content {
    width: 310px !important;
  }
}
@media (max-width: 800px) {
  .about-page .hero .carousel .carousel-content {
    height: 75vh;
  }
}
@media (max-width: 630px) {
  .about-page .hero .carousel .carousel-content {
    height: 68vh;
  }
}
@media (max-width: 800px) {
  .about-page .hero .carousel .carousel-content {
    flex-direction: column;
    text-align: center;
  }
}
.about-page .hero .carousel .carousel-image {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 75%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 800px) {
  .about-page .hero .carousel .carousel-image {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
}
@media (max-width: 530px) {
  .about-page .hero .carousel .carousel-image {
    -o-object-fit: fill;
       object-fit: fill;
  }
}
@media (max-width: 1094px) {
  .about-page .hero .carousel .carousel-image {
    width: 75%;
  }
}
@media (max-width: 560px) {
  .about-page .hero .carousel .carousel-image {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .about-page .hero .carousel .carousel-image {
    width: 100%;
  }
}
.about-page .hero .carousel .carousel-text {
  width: 50%;
  height: 100%;
  display: flex;
  padding: 20px;
}
@media (max-width: 1094px) {
  .about-page .hero .carousel .carousel-text {
    padding: 10px;
  }
}
@media (max-width: 560px) {
  .about-page .hero .carousel .carousel-text {
    padding: 10px;
    padding-top: 35px;
  }
}
@media (max-width: 481px) {
  .about-page .hero .carousel .carousel-text {
    padding: 5px;
    padding-top: 25px;
  }
}
.about-page .hero .carousel .carousel-text * {
  color: white;
}
.about-page .hero .carousel .carousel-text h5 {
  font-size: 24px;
  font-weight: bold;
}
.about-page .hero .carousel .carousel-text p {
  font-size: 31px;
  font-weight: 800;
  width: 85%;
  line-height: 35px;
}
@media (max-width: 1179px) {
  .about-page .hero .carousel .carousel-text p {
    font-size: 27px;
  }
}
@media (max-width: 1141px) {
  .about-page .hero .carousel .carousel-text p {
    font-size: 24px;
    line-height: 30px;
  }
}
@media (max-width: 1113px) {
  .about-page .hero .carousel .carousel-text p {
    font-size: 22px;
    width: 100%;
  }
}
@media (max-width: 1094px) {
  .about-page .hero .carousel .carousel-text p {
    font-size: 20px;
  }
}
@media (max-width: 1051px) {
  .about-page .hero .carousel .carousel-text p {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .about-page .hero .carousel .carousel-text p {
    font-size: 27px;
    line-height: 35px;
  }
}
@media (max-width: 560px) {
  .about-page .hero .carousel .carousel-text p {
    font-size: 24px;
    line-height: 35px;
  }
}
@media (max-width: 481px) {
  .about-page .hero .carousel .carousel-text p {
    font-size: 22px;
  }
}
@media (max-width: 446px) {
  .about-page .hero .carousel .carousel-text p {
    font-size: 20px;
  }
}
@media (max-width: 410px) {
  .about-page .hero .carousel .carousel-text p {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .about-page .hero .carousel .carousel-text {
    width: 100%;
  }
}
.about-page .hero .carousel .carousel-indicators {
  margin-top: 10px;
}
.about-page .hero .carousel .carousel-indicators button {
  width: 11px;
  height: 11px;
  border-radius: 50%;
}

.hero-esn {
  background-image: url("https://lh7-us.googleusercontent.com/docsz/AD_4nXfRwUPUTsj7NhCPZceey580mX3jOowQ7sYEQGgy-fQUy0jCP694UDuUBdOXVMlKh2WQ5yO-kb8kdLgpHC6SPyZpZUyReO-wYduAMv1moICQ1uNU8InUsmjBVr5SWqGLn3AwnQFgq7DKOURQAViXg4z70ERB?key=SvYD4V8wvC9k0IKx-IFQbw");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 42vh;
}
.hero-esn .hero-overlay {
  display: flex;
  align-items: center;
  padding: 50px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.hero-esn .hero-overlay .overlay-content {
  position: relative;
  display: inline-block;
  font-size: 50px;
  font-weight: 450;
  color: white;
}
@media (max-width: 454px) {
  .hero-esn .hero-overlay .overlay-content {
    font-size: 40px;
  }
}
@media (max-width: 387px) {
  .hero-esn .hero-overlay .overlay-content {
    font-size: 35px;
  }
}
.hero-esn .hero-overlay .overlay-content p {
  position: relative;
  z-index: 2;
  padding: 0px 10px;
}
.hero-esn .hero-overlay .overlay-content::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  height: 30%;
  background-color: #61bd4f;
  z-index: 1;
}

.back-image {
  background-image: url("../images/bg-image.jpg");
}

.esn-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding: 40px 100px;
}
@media (max-width: 950px) {
  .esn-text {
    padding: 40px 60px;
  }
}
@media (max-width: 700px) {
  .esn-text {
    padding: 40px 50px;
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .esn-text {
    padding: 40px 35px;
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  .esn-text {
    padding: 40px 18px;
    font-size: 11px;
  }
}
.esn-text #custom-text {
  font-weight: 700;
}

.bottom-about {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1130px) {
  .bottom-about {
    padding: 20px;
  }
}
@media (max-width: 850px) {
  .bottom-about {
    flex-direction: column;
  }
}
.bottom-about .left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 850px) {
  .bottom-about .left {
    width: 100%;
  }
}
.bottom-about .left img {
  border-radius: 40px;
  width: 400px;
  height: 350px;
}
@media (max-width: 950px) {
  .bottom-about .left img {
    width: 350px;
    height: 300px;
  }
}
@media (max-width: 650px) {
  .bottom-about .left img {
    width: 300px;
    height: 250px;
  }
}
.bottom-about .left img:hover {
  transform: scale(1.05);
}
.bottom-about .right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
@media (max-width: 850px) {
  .bottom-about .right {
    width: 100%;
    align-items: center;
    margin-top: 30px;
  }
}
.bottom-about .right p {
  font-size: 13px;
  width: 80%;
}
@media (max-width: 950px) {
  .bottom-about .right p {
    font-size: 11px;
  }
}
@media (max-width: 420px) {
  .bottom-about .right p {
    font-size: 10px;
  }
}

.container-custom .title {
  background-image: url("https://www.esn.az/profiles/satellite/themes/esnbase/img/title_bg.png");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  padding: 25px 80px;
}
@media (max-width: 600px) {
  .container-custom .title {
    padding: 25px 40px;
  }
}
.container-custom .title h3 {
  font-size: 40px;
  font-weight: 300;
  color: #666;
}
@media (max-width: 700px) {
  .container-custom .title h3 {
    font-size: 36px;
  }
}
@media (max-width: 500px) {
  .container-custom .title h3 {
    font-size: 30px;
  }
}
.container-custom .content {
  color: rgba(57, 55, 55, 0.8078431373);
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  width: 50%;
}
@media (max-width: 1030px) {
  .container-custom .content {
    width: 70%;
  }
}
@media (max-width: 800px) {
  .container-custom .content {
    width: 80%;
  }
}
@media (max-width: 590px) {
  .container-custom .content {
    width: 90%;
    font-size: 14px;
    padding: 30px;
  }
}
@media (max-width: 520px) {
  .container-custom .content {
    width: 100%;
  }
}

.content-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  gap: 35px;
}
.content-slide .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-slide img {
  max-width: 70%;
}
@media (max-width: 900px) {
  .content-slide img {
    max-width: 95%;
  }
}
.content-slide .bottom {
  padding: 50px;
  font-size: 15px;
}
@media (max-width: 1100px) {
  .content-slide .bottom {
    padding: 10px;
  }
}
@media (max-width: 700px) {
  .content-slide .bottom {
    font-size: 13px;
  }
}
@media (max-width: 500px) {
  .content-slide .bottom {
    font-size: 12px;
  }
}
.content-slide .bottom p {
  color: rgba(68, 64, 64, 0.6941176471);
}

.trust-section .head-part {
  margin-bottom: 20px;
  height: 40vh;
  background-image: url("https://www.esn.az/sites/default/files/news/galleries/1_2.jpg");
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.trust-section .head-part .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.trust-section .head-part .overlay .overlay-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trust-section .head-part .overlay .overlay-content h5 {
  color: white;
  font-size: 35px;
  padding: 20px 40px;
  position: relative;
  text-align: center;
}
@media (max-width: 600px) {
  .trust-section .head-part .overlay .overlay-content h5 {
    font-size: 25px;
  }
}
.trust-section .head-part .overlay .overlay-content h5::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 80px;
  height: 4px;
  background-color: #4caf50;
  transform: translateX(-50%);
}
.trust-section .body-part {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 50px;
}
@media (max-width: 750px) {
  .trust-section .body-part {
    padding: 15px;
  }
}
@media (max-width: 700px) {
  .trust-section .body-part p {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .trust-section .body-part p {
    font-size: 13px;
  }
}
.trust-section .body-part img {
  max-width: 65%;
  margin: 15px auto;
}
@media (max-width: 870px) {
  .trust-section .body-part img {
    max-width: 95%;
  }
}

.isyop .head-part {
  margin-bottom: 20px;
  height: 40vh;
  background-image: url("https://www.esn.az/sites/default/files/news/galleries/jj-72_1.jpg");
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.isyop .head-part .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.isyop .head-part .overlay .overlay-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.isyop .head-part .overlay .overlay-content h5 {
  color: white;
  font-size: 35px;
  padding: 20px 40px;
  position: relative;
  text-align: center;
}
@media (max-width: 600px) {
  .isyop .head-part .overlay .overlay-content h5 {
    font-size: 25px;
  }
}
.isyop .head-part .overlay .overlay-content h5::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 80px;
  height: 4px;
  background-color: #4caf50;
  transform: translateX(-50%);
}
.isyop .body-part {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 50px;
}
@media (max-width: 750px) {
  .isyop .body-part {
    padding: 15px;
  }
}
@media (max-width: 700px) {
  .isyop .body-part p {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .isyop .body-part p {
    font-size: 13px;
  }
}
.isyop .body-part img {
  max-width: 65%;
  margin: 15px auto;
}
@media (max-width: 870px) {
  .isyop .body-part img {
    max-width: 95%;
  }
}

.orientation-section .head-part {
  margin-bottom: 20px;
  height: 40vh;
  background-image: url("https://www.esn.az/sites/default/files/news/galleries/7_1.jpg");
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.orientation-section .head-part .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.orientation-section .head-part .overlay .overlay-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.orientation-section .head-part .overlay .overlay-content h5 {
  color: white;
  font-size: 35px;
  padding: 20px 40px;
  position: relative;
  text-align: center;
}
@media (max-width: 600px) {
  .orientation-section .head-part .overlay .overlay-content h5 {
    font-size: 25px;
  }
}
.orientation-section .head-part .overlay .overlay-content h5::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 80px;
  height: 4px;
  background-color: #4caf50;
  transform: translateX(-50%);
}
.orientation-section .body-part {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 50px;
}
@media (max-width: 750px) {
  .orientation-section .body-part {
    padding: 15px;
  }
}
.orientation-section .body-part p {
  color: #666;
}
@media (max-width: 700px) {
  .orientation-section .body-part p {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .orientation-section .body-part p {
    font-size: 13px;
  }
}
.orientation-section .body-part img {
  max-width: 65%;
  margin: 15px auto;
}
@media (max-width: 870px) {
  .orientation-section .body-part img {
    max-width: 95%;
  }
}/*# sourceMappingURL=style.css.map */